.imagesplit {
  width: 49%;
  display: inline-block;
  padding-left: 5vw;
  vertical-align: middle;
  padding: 0.3vw;
}

.imagesplit img {
  width: 100%;
  filter: blur(1px) sepia(20%);
  transition-duration: 1.5s;
  padding: 3%;
  border: 0.5vw solid teal;
}

.imagesplit img:hover {
  filter: blur(0px) sepia(0%);
  transition-duration: 0.3s;
  padding: 0%;
}

/* SLIDESHOWS */

.mySlides {
  display: none
}

.mySlides img {
  border: 0.6vw solid teal;

}

.slideshow-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 0.1vw 0.1vw 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 0.1vw 0 0 0.1vw;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  background-color: black;
  opacity: 0.7;
  font-size: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5vw;
  position: absolute;
  bottom: 0.5vw;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.dotsdiv {
  text-align: center;
}