/* FORMULARI */

form {
    text-align: center;
    font-size: 1.8vw;
  }
  
  label {
    padding-bottom: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  fieldset {
    margin-left: 20%;
    margin-right: 20%;
  }

  input[type="radio"] {
    width: 10%;
    height: 2.5vw;
    text-align: right;
  }

  input,
  textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 3vw;
    width: 95%;
    font-size: 2vw;
    text-align: center;
    margin-top: 0.4vw;
  }
  
  #missatge {
    width: 90%;
    height: 10vw;
    resize: vertical;
  }

  /* BUTTONS */
  button {
    flex: 1;
    margin: 0.1vw;
    padding: 0.8vw;
    font-size: 1.8vw;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  button[type="submit"] {
    background-color: rgb(180, 255, 215);
  }
  
  button[type="submit"]:hover {
    background-color: rgb(45, 255, 140);
  }
  
  button[type="reset"] {
    background-color: rgb(255, 200, 190);
  }
  
  button[type="reset"]:hover {
    background-color: rgb(255, 90, 105);
  }
 
  /* FI BUTTONS */
  
  /* Per amagar la llegenda del Fieldset amb els botons */
  #hiddenlegend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    border: 0;
    background-color: rgb(230, 220, 255);
  }
  
  /* FI FORMULARI */