* {
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  margin: 0;
}

header,
footer,
section {
  width: 100%;
  background-color: rgb(20, 170, 145);
  border: 0.2vw solid teal;
}

header {
  background-image: url("../imatges/indexheaderbg.jpg");
  background-size: 100%;
}

header h1 {
  text-align: center;
  font-size: 7vw;
  padding-bottom: 6vw;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 8px 8px 3px #04AA6D;
}

header h3 {
  text-align: right;
  font-size: 2.5vw;
  padding-right: 1.5vw;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 4px 4px 1px #04AA6D;
}

h2 {
  font-size: 3.5vw;
  text-align: center;
}

h3 {
  font-size: 2vw;
  text-align: center;
}

article li {
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

section {
  display: flex;
  flex-wrap: wrap;
}

nav {
  /*H*/
  flex: 100%;
  /*H*/
  display: flex;
  background-image: linear-gradient(to bottom, rgb(150, 255, 180), rgb(150, 255, 250));
  text-align: center;
  border: 0.1vw solid teal;
}

article {
  /*H*/
  flex: 100%;
  background-color: rgb(230, 255, 240);
  border: 0.1vw solid teal;
  padding: 1.2vw;
  font-size: 1.8vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  color: white;
  padding: 1vw;
  font-size: 1.3vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

article a {
  color: rgb(90, 60, 146);
}

a:hover {
  background-color: rgb(90, 60, 146);
  color: whitesmoke;
}

.articlesplit {
  flex: 1;
  /* width: 45%; */
  text-align: center;
  padding: 4.5vw;
}

.articlesplit img {
  border-radius: 3vw;
}

.gastrotitles {
  text-align: left;
  padding-left: 3vw;
}

.inlinegallery {
  text-align: center;
}

.inlinegallery img {
  width: 24%;
  height: auto;
  border: 0.2vw solid teal;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* LLISTA DE NAVEGACIO */
nav ul {
  /*H*/
  display: flex;
  list-style-type: none;
  margin: 1.2vw;
  padding: 0;
  /*H*/
  width: 100%;
  background-color: rgb(210, 230, 220);
  font-family: 'Trebuchet MS', 'Gill Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  border: 0.35vw solid teal;
  border-radius: 1vw;
}

nav li {
  /*H*/
  flex: 20%;
}

nav li a {
  /*H*/
  width: 100%;
  /*H*/
  display: inline-block;
  border: 0.15vw solid teal;
  color: #000;
  padding: 1vw 1.6vw;
  text-decoration: none;
}

nav li a.active {
  background-color: #04AA6D;
  color: white;
}

nav li a:hover:not(.active) {
  background-color: #314941;
  color: white;
}

/* FI LLISTA DE NAVEGACIO */

/* BOTONS FOOTER */
.fa {
  height: 3vw;
  width: 3vw;
  vertical-align: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 1vw;
  font-size: 10vw;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  font-size: 0vw;
}

/* .fa-google {
  background: #dd4b39;
  color: white;
} */